{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}

{% block body %}
    <h1>Create new Recette</h1>
    <div class="new">
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ include('recette/_form.html.twig') }}
    </div>
{% endblock %}
